* {
  box-sizing: border-box;
}

body {
  background-color: bisque;
  font-family: sans-serif;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    " header header"
    "sidebar main"
    "footer footer";
}

header,
aside,
main,
footer {
  padding: 16px;
  box-sizing: border-box;
}

header {
  display: grid;
  background: #521751;
  grid-area: header;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation-item {
  margin: 0 10px;
}

.navigation-item a {
  text-decoration: none;
  color: white;
}

.aside1 {
  background: #fa923f;
  grid-area: sidebar;
  text-align: center;
  padding-bottom: 20px;
  height: 750px;
  border: 1px solid blue;
  /* width: 20%; */
}
.aside2 {
  background: #fa923f;
  grid-area: sidebar;

  text-align: center;

  padding-bottom: 20px;
  height: 500px;
  border: 1px solid rgb(233, 20, 37);
  display: none;
}

.aside1 > button {
  margin: 10px;
  width: 50%;
  height: 35px;
  font-size: 0.8rem;
  font-weight: bold;
  background-color: yellowgreen;
}

main {
  display: grid;
  grid-area: main;
  background-color: bisque;
  overflow: auto;
  height: 750px;
  /* width: 80%; */
}

.cards {
  margin: 0;
  display: grid;
  overflow: scroll;

  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: repeat(5, 1fr);
  grid-auto-flow: row;
  /* gap: 10px; */
  font-family: sans-serif;
  box-sizing: border-box;
  /* justify-content: start; */
}
.card {
  background-color: rgb(205, 241, 243);
  height: 300px;
  width: 250px;
  overflow: auto;
  border: 1px solid black;
  box-sizing: border-box;
  margin-right: 2px;
}

.card__content {
  line-height: normal;
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}

.card__content > h5 {
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  /* border: 1px solid red; */
  margin-top: 0;
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
}
.card__content > p {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  /* border: 1px solid red; */
  margin-top: 2px;
  margin-bottom: 2px;
  box-sizing: border-box;
}

/* popup-form css starts*/

/* The popup form - hidden by default */
.form-popup {
  background-color: rgb(142, 204, 206);
  display: none;
  position: fixed;
  /* bottom: 0; */
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  left: 40%;
  top: 10%;
  width: 400px;
}

/* Add styles to the form container */
.form-container {
  /* max-width: 400px; */
  padding: 10px;
  /* background-color: white; */
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  /* width: 100%; */
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

/* popup-form-css-ends */

footer {
  background: black;
  grid-area: footer;
}

@media all and (max-width: 800px) {
  .main {
    /* grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); */
    /* margin-bottom: 1rem; */
  }
  .card {
    /* padding-bottom: 0.25rem; */
  }
  /* .aside1 {
    width: 1fr;
    background-color: darkorchid;
  }
  .main {
    width: 5fr;
  } */
}

@media all and (max-width: 600px) {
  .main {
    /* grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); */
    /* margin-bottom: 1rem; */
  }
  .card {
    /* padding-bottom: 0.25rem; */
  }
  .button {
    font-size: 0.8rem;
    font-weight: normal;

    width: 100%;
  }
  .aside1 {
    display: none;
  }
  .aside2 {
    display: block;
  }
}
